.listQuestion {
  list-style-type: none;

  li {
    display: inline-block;
    background: #5e72e4;
    padding: 5px 18px;
    margin-right: 10px;
    border-radius: 4px;
    transition: box-shadow .1s ease-in-out;
    cursor: pointer;

    &:hover {
      box-shadow: 0 1px 4px #5e72e4
    }

    a {
      color: white;
      font-weight: 700;
      text-decoration: none;
    }
  }
}